<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style_top.css"/> <!-- 调用css -->
    <title>功能三</title>

</head>
<body>
  <div class="menu">  <!-- class选择器 -->
    <div class="nav">
        <ul>    <!-- ul标签 -->
            <li><a href="demo.html">首页</a></li>
            <li><a href="case_1.html" >功能一</a></li>  <!-- li标签 -->
            <li><a href="case_2.html">功能二</a></li>
            <li><a href="case_3.html">功能三</a></li>
        </ul>
    </div>
  </div>
    <div class="footer" style="color: #FFFFFF;">制作人：***,***,***,***,*** <div>如有疑问请联系：*************</div></div>
</body>
</html>
