<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="style.css"/> <!-- 调用css -->
    <meta charset="UTF-8">
    <title>论文助手</title>
</head>
<body>
  <div class="menu">  <!-- class选择器 -->
    <div class="nav">
        <ul>    <!-- ul标签 -->
            <li><a href="#">论文助手欢迎您</a></li>  <!-- li标签 -->
        </ul>
    </div>
  </div>
<div class="top" style=" text-align:center;" ><br>
        <div id="some"> <input  type="text" style="width:750px;height:40px;margin: 150px" name="search_text" id="search_text"  maxlength="200" placeholder="请输入想要查找的论文题目" autocomplete="off"></div>
  <button class='button' onclick="toPage2()" style="width:100px;height:40px;margin: 1px" >检索</button></div>
<div class="footer" style="color: #FFFFFF;">制作人：王晓捷，周业杰，李婉婷，林煜涛，郑婕 <div>如有疑问请联系：879018268@qq.com</div></div>
 <script type="text/javascript">
        function toPage2(){
            var input_val = document.getElementById("search_text").value;
                       window.location.href = encodeURI("case_1.html?value=" + input_val);
        }
    </script>

</body>
</html>
